@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container {
  font-size: 24px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: azure;
  font-size: 20px;
}
